<div class="info">
    <div class="container">
        <div class="personal-title">Личный кабинет</div>
        <div class="personal-pages-selector">
            <div class="personal-page " routerLink="/profile">Личные данные</div>
            <div class="personal-page active">Ваши заказы</div>
        </div>
        <div class="info-label">Ваши заказы</div>
        <div class="info-label-additional">
            Здесь отображается история ваших заказов.
        </div>

        <div class="orders-empty" *ngIf="!orders || orders.length === 0">
            <div>Нет заказов</div>
            <button class="btn" routerLink="/catalog">В каталог</button>
        </div>

        <div class="orders-list">

            <div class="orders-list-item" *ngFor="let order of orders; let i = index">
                <div class="order-list-item-number">Заказ №{{i + 1}}</div>

                <div class="order-list-item-products">
                    <div class="products-count">Кол-во товаров: {{order.items?.length}}</div>
                    <div class="products-list">
                        <div class="product" *ngFor="let product of order.items">
                            <div class="product-name">&#183; {{product.name}}</div>
                            <div class="product-count">{{product.quantity}} шт.</div>
                        </div>
                    </div>
                </div>

                <div class="order-status" style="border-color: {{order.color}}; color: {{order.color}}">{{order.statusRus}}</div>

                <div class="order-cost">{{order.totalAmount! + order.deliveryCost!}} BYN</div>
            </div>

        </div>

    </div>
</div>